<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Birth Year</th>
    <th>Hair Color</th>
    <th>Eye Color</th>
    <th>Home World</th>
  </tr>
  <tr *ngFor="let p of people; index as i">
    <td>{{p.name}}</td>
    <td>{{p.gender}}</td>
    <td>{{p.birth_year}}</td>
    <td>{{p.hair_color}}</td>
    <td>{{p.eye_color}}</td>
    <td>{{homeWorld[i]}}</td>
  </tr>
</table>
<div>
  <button mat-stroked-button *ngIf="previousPage" (click)="previousData()">Previous</button>
  <button mat-stroked-button *ngIf="nextPage" (click)="nextData()">Next</button>
</div>